body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 15px;
    background-color: navy;
    color: navajowhite;
}

.header h1 {
    font-size: 200%;
    display: inline-block;
}