* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 25px;
    background-color: lightsteelblue;
    color: snow;
}

.header h1 {
    font-size: 200%;
    display: flex;
    background-color: midnightblue;
    color: snow;
    padding: 10px;
    max-width: max-content;
}

.header div {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    float: right;
    font-size: 110%;
}

.header div li {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    color: snow;
    text-decoration: none;
    font-weight: bold;
}