* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 25px;
    background-color: lightsteelblue;
    color: snow;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header h1 {
    font-size: 200%;
    display: flex;
    background-color: midnightblue;
    color: snow;
    padding: 10px;
    max-width: max-content;
}

.header nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    font-size: 110%;
    align-items: center;
}

.header nav li {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    color: snow;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: midnightblue;
}

section {
    padding: 20px;
    color: midnightblue;
    background-color: snow;
}

#about {
    display: flex;
    flex-direction: row;
    max-height: max-content;
    border-bottom: 5px solid lightsteelblue;
}

img {
    display: flex;
    max-width: 30%;
    height: auto;
    padding: 20px;
    border-right: 5px solid lightsteelblue;
}

.about-andrew {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 120%;
    text-align: center;
}

.about-andrew h3 {
    font-size: 150%;
}

#projects {
    display: flex;
    flex-direction: row;
    max-height: max-content;
}

#projects h3 {
    display: flex;
    padding: 20px;
    width: 30%;
    font-size: 150%;
    justify-content: center;
    align-items: flex-start;
    border-right: 5px solid lightsteelblue;
}

#projects nav li {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    font-size: 120%;
}

#contact {
    display: flex;
    flex-direction: row;
    max-height: 15%;
    padding: 20px;
    justify-content: space-around;
}

#contact h3 {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#contact nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    font-size: 110%;
    align-items: center;
}

#contact li {
    display: inline-block;
    padding: 20px;
}

#contact a {
    text-decoration: none;
    color: midnightblue;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    padding: 20px;
    color: snow;
    background-color: midnightblue;
    justify-content: center;
    max-height: 10%;
}