:root {
    --dark: midnightblue;
    --light: lightsteelblue;
    --white: snow;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 25px;
    background-color: var(--light);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header h1 {
    font-size: 200%;
    display: flex;
    background-color: var(--dark);
    color: var(--white);
    padding: 10px;
    max-width: max-content;
}

.header nav, .contact nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    font-size: 110%;
    align-items: center;
}

.header nav li {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: var(--dark);
}

section {
    padding: 20px;
    color: var(--dark);
    background-color: var(--white);
}

#about {
    display: flex;
    flex-direction: row;
    max-height: max-content;
    border-bottom: 5px solid var(--light);
}

#about img {
    display: flex;
    max-width: 30%;
    height: auto;
    padding: 20px;
    border-right: 5px solid var(--light);
}

.about-andrew {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 120%;
    text-align: center;
}

.about-andrew h3 {
    font-size: 150%;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects h3 {
    display: flex;
    padding: 20px;
    width: 100%;
    font-size: 150%;
    justify-content: center;
    align-items: flex-start;
}

.projects ul {
    list-style: none;
}

.card-1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}

.card-1 img {
    max-width: 60%;
    padding: 20px;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.card-1 img:hover {
    filter: opacity(100%);
    -webkit-filter:opacity(100%);
}

.card {
    padding: 20px;
    max-width: 100%;
    text-align: center;
    flex: 1 0 30%;
}

.card img {
    max-width: 50%;
    padding: 20px;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.card img:hover {
    filter: opacity(100%);
    -webkit-filter:opacity(100%);
}

.contact {
    display: flex;
    flex-direction: row;
    max-height: 15%;
    padding: 20px;
    justify-content: space-around;
}

.contact h3 {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contact li {
    display: inline-block;
    padding: 20px;
}

.contact a {
    text-decoration: none;
    color: var(--dark);
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    padding: 20px;
    color: var(--white);
    background-color: var(--dark);
    justify-content: center;
    max-height: 10%;
}