/*The root command can set variables to be used in the styling. That way I don't need to type out the color each time*/
:root {
    --dark: midnightblue;
    --light: lightsteelblue;
    --white: snow;
}

/*Universal selector for the entire page*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Sets the base font-size and style for the entire body of the page*/
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

/*Thenext 40 lines of code style the header and its contents on the page*/
.header {
    padding: 25px;
    background-color: var(--light);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header h1 {
    font-size: 200%;
    background-color: var(--dark);
    color: var(--white);
    padding: 10px;
    max-width: max-content;
}

/*Since the header and contact nav share the exact same stying, they are combined here*/
.header nav, #contact nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    font-size: 110%;
    align-items: center;
}

/*This causes the links within the header to appear next to  each other*/
.header nav li {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

/*This makes the links in the header change when you hover over them*/
.header a:hover {
    color: var(--dark);
}

/*This styles all of the section elements the same way*/
section {
    padding: 20px;
    color: var(--dark);
    background-color: var(--white);
}

/*The next three sections make it so that the picture of me and my about me paragraph appear next to each other on the page*/
#about {
    display: flex;
    flex-direction: row;
    max-height: max-content;
    border-bottom: 5px solid var(--light);
}

#about img {
    display: flex;
    max-width: 30%;
    height: auto;
    padding: 20px;
    border-right: 5px solid var(--light);
}

.about-andrew {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 120%;
    text-align: left;
}

.about-andrew h3 {
    font-size: 150%;
}

/*I personally like the column look for the porjects, which is why I chose this styling*/
#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#projects h3 {
    display: flex;
    padding: 20px;
    width: 100%;
    font-size: 150%;
    justify-content: center;
    align-items: flex-start;
}

#projects ul {
    list-style: none;
}

/*Since all of the cards with the images share the same base formatting, they are goruped together here*/
.card-1, .card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}

/*Makes this image bigger than the others, and also makes the image more opaque when its not being hovered over*/
.card-1 img {
    max-width: 60%;
    padding: 20px;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

/*Makes the images more opaque when they're not being hovered over*/
.card img {
    max-width: 40%;
    padding: 20px;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

/*Makes the selected image clear when its hovered over*/
.card-1 img:hover, .card img:hover {
    filter: opacity(100%);
    -webkit-filter:opacity(100%);
} 

/*This causes the items in the contact section to align in a row in with their flexboxes*/
#contact {
    display: flex;
    flex-direction: row;
    max-height: 15%;
    padding: 20px;
    justify-content: space-around;
    background-color: var(--dark);
    color: var(--white);
}

#contact h3 {
    display: flex;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/*This causes the links in the contact section to line up next to each other*/
#contact li {
    display: inline-block;
    padding: 20px;
}

/*This removes the underlining from the links in the contact section*/
#contact a {
    text-decoration: none;
    color: var(--white);
}

/*This underlines the links in the contact section when hovering over them*/
#contact a:hover {
    text-decoration: underline;
}

/*This houses the styling for the footer on the page*/
footer {
    display: flex;
    padding: 20px;
    color: var(--white);
    background-color: var(--dark);
    justify-content: center;
    max-height: 10%;
    border-top: 5px solid var(--light);
}

/*This is the media Query for viewing on tablets*/
@media screen and (max-width: 992px) {
    body {flex-direction: column;
        padding: 0px;
    }    
    #about img {
        border: none;
        max-width: 30%;
    }
    .about-andrew {
        max-width: 70%;
    }
}

/*This is the media query for viewing on phones*/
@media screen and (max-width: 768px) {
    body {flex-direction: column;
    padding: 0px;
    }
    #about {
    flex-direction: column;
    }
    #about img {
        border: none;
        max-width: 100%;
    }
    .about-andrew {
        max-width: 100%;
    }
    .card-1 img {
        filter: opacity(100%);
        -webkit-filter:opacity(100%);
    } 
    .card img {
        filter: opacity(100%);
        -webkit-filter:opacity(100%);
    }
}